In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('white', { 'axes.spines.right': False, 'axes.spines.top': False})
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD
from nltk.corpus import stopwords

## Load Data

In [ ]:
path = '../MLdata/'

In [ ]:
# movie metadata
df_meta=pd.read_csv(path + 'movies_metadata.csv', low_memory=False, encoding='UTF-8') 
df_meta = df_meta.drop([19730, 29503, 35587])

In [ ]:
df_meta = df_meta.set_index(df_meta['id'].str.strip().replace(',','').astype(int))
pd.set_option('display.max_colwidth', 20)
df_meta.head()

In [ ]:
# load movie credits
df_credits = pd.read_csv(path + 'credits.csv', encoding='UTF-8')
df_credits = df_credits.set_index('id')

In [ ]:
# load movie keywords
df_keywords=pd.read_csv(path + 'keywords.csv', low_memory=False, encoding='UTF-8') 
df_keywords = df_keywords.set_index('id')

In [ ]:
# merge
df_k_c = df_keywords.merge(df_credits, left_index=True, right_on='id')
df = df_k_c.merge(df_meta[['release_date','genres','overview','title']], left_index=True, right_on='id')
df.head(3)

## Data Cleaning

### Smaller subset

In [ ]:
links_small = pd.read_csv(path + 'links_small.csv', encoding='UTF-8')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [ ]:
df = df[df.index.isin(links_small)]

### Bag-of-words Model

In [ ]:
df_movies = pd.DataFrame()

In [ ]:
df_movies['keywords'] = df['keywords'].apply(lambda x: [i['name'] for i in eval(x)])
df_movies['keywords'] = df_movies['keywords'].apply(lambda x: ' '.join([i.replace(" ", "") for i in x]))

In [ ]:
df_movies['overview'] = df['overview'].fillna('')

In [ ]:
df_movies['release_date'] = pd.to_datetime(df['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x!= np.nan else np.nan)

In [ ]:
df_movies['cast'] = df['cast'].apply(lambda x:[i['name'] for i in eval(x)])
df_movies['cast'] = df_movies['cast'].apply(lambda x: ' '.join([i.replace(" ", "") for i in x]))

In [ ]:
df_movies['genres'] = df['genres'].apply(lambda x: [i['name'] for i in eval(x)])
df_movies['genres'] = df_movies['genres'].apply(lambda x: ' '.join([i.replace(" ", "") for i in x]))

In [ ]:
df_movies['title'] = df['title']

In [ ]:
# merge all fields into 'tag' column
df_movies['tags'] = df_movies['keywords'] + ' ' + df_movies['cast']+' '+df_movies['genres']+' '+df_movies['release_date']

In [ ]:
df_movies.drop(df_movies[df_movies['tags']==''].index, inplace=True)
df_movies.drop_duplicates(inplace=True)

In [ ]:
df_movies['new_id'] = range(0, len(df_movies))

In [ ]:
df_movies = df_movies[['new_id', 'title', 'tags']]

In [ ]:
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.expand_frame_repr', False)

In [ ]:
df_movies

In [ ]:
df_movies.to_csv('movies.csv')

### Vectorization

In [ ]:
stop = list(stopwords.words('english'))

# create the tfid vectorizer, alternatively you can also use countVectorizer
tfidf =  TfidfVectorizer(max_features=5000, analyzer = 'word', stop_words=stop)
vectorized_data = tfidf.fit_transform(df_movies['tags'])
count_matrix = pd.DataFrame(vectorized_data.toarray(), index=df_movies['tags'].index.tolist())

In [ ]:
count_matrix

In [ ]:
print(tfidf.get_feature_names_out()[940:990])

## Dimensionality Reduction

In [ ]:
svd = TruncatedSVD(n_components=3000)
reduced_data = svd.fit_transform(count_matrix)

## Text Similarity with Cosine Similarity Scores

In [ ]:
similarity = cosine_similarity(reduced_data)

In [ ]:
np.save('movies_similarity', similarity)

## Generate Recommendation

In [2]:
similarity = np.load('movies_similarity.npy')

In [3]:
df_movies = pd.read_csv('movies.csv')
df_movies.head()

,id,new_id,title,tags
0,862,0,Toy Story,jealousy toy boy friendship friends rivalry bo...
1,8844,1,Jumanji,boardgame disappearance basedonchildren'sbook ...
2,15602,2,Grumpier Old Men,fishing bestfriend duringcreditsstinger oldmen...
3,31357,3,Waiting to Exhale,basedonnovel interracialrelationship singlemot...
4,11862,4,Father of the Bride Part II,baby midlifecrisis confidence aging daughter m...

In [4]:
# create a function that takes in movie title as input and returns a list of the most similar movies
def get_recommendations(title, n, cosine_sim, df_movies):
    
    # get the index of the movie that matches the title
    movie_index = df_movies[df_movies.title==title].new_id.values[0]
    
    # get the pairwsie similarity scores of all movies with that movie and sort the movies based on the similarity scores
    sim_scores_all = sorted(list(enumerate(cosine_sim[movie_index])), key=lambda x: x[1], reverse=True)
    
    # checks if recommendations are limited
    if n > 0:
        sim_scores_all = sim_scores_all[1:n+1]
        
    # get the movie indices of the top similar movies
    movie_indices = [i[0] for i in sim_scores_all]
    scores = [i[1] for i in sim_scores_all]
    
    # return the top n most similar movies from the movies df
    top_titles_df = pd.DataFrame(df_movies.iloc[movie_indices]['title'])
    top_titles_df['sim_scores'] = scores
    top_titles_df['ranking'] = range(1, len(top_titles_df) + 1)
    
    return top_titles_df, sim_scores_all

In [ ]:
# # generate a list of recommendations for a specific movie title
# movie_name = 'The Matrix'
# number_of_recommendations = 15
# top_titles_df, _ = get_recommendations(movie_name, number_of_recommendations)

In [57]:
df1 = netflix_merge(df_1)
list(df1[df1['type'] == "MOVIE"]['Title'])

['Delhi Belly', 'Most Eligible Bachelor']

In [43]:
df1 = netflix_merge(df_1)

In [5]:
# list of movies a user has seen
movie_list = ['The Lion King', 'Se7en', 'Blade Runner', 'Quantum of Solace', 'Casino Royale', 'Skyfall']

# create a copy of the movie dataframe and add a column in which we aggregated the scores
user_scores = pd.DataFrame(df_movies['title'])
user_scores['sim_scores'] = 0.0

# top number of scores to be considered for each movie
number_of_recommendations = 10000
for movie_name in movie_list:
    try:
        top_titles_df, _ = get_recommendations(movie_name, number_of_recommendations,
                                               similarity, df_movies)
    except:
        pass
    # aggregate the scores
    user_scores = pd.concat([user_scores, top_titles_df[['title', 'sim_scores']]]).groupby(['title'], as_index=False).sum({'sim_scores'})

In [6]:
user_scores = user_scores[~user_scores['title'].isin(movie_list)]
user_scores.sort_values(by='sim_scores', ascending=False)[:20]

                      title  sim_scores
5831                Spectre    1.067911
8163           Total Recall    0.633910
3403         Johnny English    0.586215
5555                  Shaft    0.577136
3533   King Solomon's Mines    0.562624
6084     Surviving the Game    0.548778
7818   The Three Musketeers    0.530187
4172                 Mirage    0.526142
358     Alice in Wonderland    0.488152
2168  Everything or Nothing    0.469017
4568        Nothing to Lose    0.461521
1824        Die Another Day    0.440202
4675              Ong Bak 2    0.424322
6243           The 39 Steps    0.412018
3833      Lord of the Flies    0.411404
7484       The Pink Panther    0.409758
2574             Get Carter    0.409143
8460                 Wanted    0.406770
7825       The Time Machine    0.390594
1146                Brother    0.387138

### Merge with Netflix Data

In [7]:
netflix = pd.read_csv('../Netflix-Data/titles.csv')

In [8]:
netflix = netflix[['title', 'type', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score']]
netflix = netflix[netflix['type'] == 'MOVIE']

In [9]:
recs = netflix.merge(user_scores, how='inner', on='title')
recs = recs.sort_values(by='sim_scores', ascending=False)[:24]

In [10]:
def weighted_rating(x, m, C):
    v = x['imdb_votes']
    R = x['imdb_score']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [11]:
recs = recs[['title', 'imdb_score', 'imdb_votes']]
vote_counts = recs[recs['imdb_votes'].notnull()]['imdb_votes'].astype('int')
vote_averages = recs[recs['imdb_score'].notnull()]['imdb_score'].astype('int')
C = vote_averages.mean()
m = vote_counts.quantile(0.60)
qualified = recs[(recs['imdb_votes'] >= m) & (recs['imdb_votes'].notnull())
                & (recs['imdb_score'].notnull())]
qualified['imdb_votes'] = qualified['imdb_votes'].astype('int')
qualified['imdb_score'] = qualified['imdb_score'].astype('int')
qualified['wr'] = qualified.apply(weighted_rating, args=(m, C), axis=1)
qualified = qualified.sort_values('wr', ascending=False).head(20)

/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3476767519.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['imdb_votes'] = qualified['imdb_votes'].astype('int')
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3476767519.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['imdb_score'] = qualified['imdb_score'].astype('int')
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3476767519.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['wr'] = qualified.apply(weighted_rating, args=(m, C), axis=1)

In [12]:
qualified

                      title  imdb_score  imdb_votes        wr
81                Inception           8     2294231  7.866592
29      Mission: Impossible           7      420673  6.680235
35        Starship Troopers           7      291452  6.585476
88        Road to Perdition           7      265216  6.558939
6               Dirty Harry           7      155051  6.396788
85                   Wanted           6      384995  5.931739
36   Mission: Impossible II           6      337987  5.925089
187            Total Recall           6      253352  5.909158
140      The Golden Compass           6      187485  5.891140
238                  Legend           6      178601  5.888148

## Get non-Netflix movies

In [13]:
not_netflix_recs = user_scores[~user_scores['title'].isin(netflix['title'])]
not_netflix_recs = not_netflix_recs.sort_values(by='sim_scores', ascending=False)

In [14]:
not_netflix_recs[:20]

                               title  sim_scores
5831                         Spectre    1.067911
3403                  Johnny English    0.586215
5555                           Shaft    0.577136
3533            King Solomon's Mines    0.562624
6084              Surviving the Game    0.548778
7818            The Three Musketeers    0.530187
358              Alice in Wonderland    0.488152
2168           Everything or Nothing    0.469017
1824                 Die Another Day    0.440202
4675                       Ong Bak 2    0.424322
6243                    The 39 Steps    0.412018
3833               Lord of the Flies    0.411404
7484                The Pink Panther    0.409758
2574                      Get Carter    0.409143
7825                The Time Machine    0.390594
1316                          Caught    0.386828
307            Africa: The Serengeti    0.383665
7983         The World Is Not Enough    0.378256
7192  The Lion King 2: Simba's Pride    0.376694
995                    Bloody Sunday    0.376487

## Test

In [15]:
def clean_watch_history(df):
    '''
    Function that cleans a given users watch history data
    Input: dataframe
    Output: (cleaned) dataframe
    '''
    df = df.rename(columns = {"Title": "History"})
    df['Date'] = pd.to_datetime(df['Date'])
    df['Day']= df['Date'].dt.day
    df['Month']= df['Date'].dt.month
    df['Year']= df['Date'].dt.year
    df['Day_of_week'] = df['Date'].dt.dayofweek

    df['Title'] = df['History'].str.rsplit(': ', 2).str[0]
    df['Season'] = df['History'].str.rsplit(': ', 2).str[1]
    df['Episode'] = df['History'].str.rsplit(': ', 2).str[2]

    df['Type'] = df['Episode'].apply(lambda x : 'Movie' if (pd.isna(x)==True) else 'TV')

    tv = df[df['Type']!='Movie']
    tv['Season'] = tv['Season'].str.split().str[1]

    movies = df[df['Type']=='Movie']
    movies['Title'] = movies['History']
    movies['Season'] = None

    df = pd.concat([movies, tv], ignore_index = True)
    return df

In [26]:
def netflix_merge(df):
    '''
    Function that merges given watch history with netflix dataset,
    and returns merged dataset
    '''
    titles = pd.read_csv('../Netflix-Data/titles.csv')
    merged = df.merge(titles, left_on = 'Title', right_on = 'title', how = 'inner')
    cols_to_drop = ['production_countries', 'imdb_id', 'age_certification', 
                    'title', 'seasons', 'tmdb_popularity']
    merged = merged.drop(cols_to_drop, axis = 1)
    return merged

In [17]:
def get_movie_list(df):
    return list(df[df['type'] == "MOVIE"]['Title'])

In [18]:
def get_recommendations(title, n, cosine_sim, df_movies):
    
    # get the index of the movie that matches the title
    movie_index = df_movies[df_movies.title==title].new_id.values[0]
    
    # get the pairwsie similarity scores of all movies with that movie and sort the movies based on the similarity scores
    sim_scores_all = sorted(list(enumerate(cosine_sim[movie_index])), key=lambda x: x[1], reverse=True)
    
    # checks if recommendations are limited
    if n > 0:
        sim_scores_all = sim_scores_all[1:n+1]
        
    # get the movie indices of the top similar movies
    movie_indices = [i[0] for i in sim_scores_all]
    scores = [i[1] for i in sim_scores_all]
    
    # return the top n most similar movies from the movies df
    top_titles_df = pd.DataFrame(df_movies.iloc[movie_indices]['title'])
    top_titles_df['sim_scores'] = scores
    top_titles_df['ranking'] = range(1, len(top_titles_df) + 1)
    
    return top_titles_df, sim_scores_all

In [33]:
def get_top_movies(movie_list):
    similarity = np.load('movies_similarity.npy')
    df_movies = pd.read_csv('movies.csv')

    user_scores = pd.DataFrame(df_movies['title'])
    user_scores['sim_scores'] = 0.0

    # top number of scores to be considered for each movie
    number_of_recommendations = 10000
    for movie_name in movie_list:
        try:
            top_titles_df, _ = get_recommendations(movie_name, number_of_recommendations,
                                                similarity, df_movies)
        except:
            continue
        # aggregate the scores
        user_scores = pd.concat([user_scores, top_titles_df[['title', 'sim_scores']]]).groupby(['title'], as_index=False).sum({'sim_scores'})

    user_scores = user_scores[~user_scores['title'].isin(movie_list)]
    return user_scores.sort_values(by='sim_scores', ascending=False)[:20]

In [63]:
def get_netflix_recs(user_scores):
    netflix = pd.read_csv('../Netflix-Data/titles.csv')
    netflix = netflix[['title', 'type', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score']]
    netflix = netflix[netflix['type'] == 'MOVIE']

    recs = netflix.merge(user_scores, how='inner', on='title')
    recs = recs.sort_values(by='sim_scores', ascending=False)[:24]
    
    rated_recs = recs[['title', 'imdb_score', 'imdb_votes']]
    vote_counts = rated_recs[rated_recs['imdb_votes'].notnull()]['imdb_votes'].astype('int')
    vote_averages = rated_recs[rated_recs['imdb_score'].notnull()]['imdb_score'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.40)
    qualified = rated_recs[(rated_recs['imdb_votes'] >= m) & (rated_recs['imdb_votes'].notnull())
                    & (rated_recs['imdb_score'].notnull())]
    qualified['imdb_votes'] = qualified['imdb_votes'].astype('int')
    qualified['imdb_score'] = qualified['imdb_score'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, args=(m, C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(20)

    if len(recs) > 5:
        return list(qualified['title'])
    else:
        return list(recs['title'])

In [64]:
def get_not_netflix_recs(user_scores):
    netflix = pd.read_csv('../Netflix-Data/titles.csv')
    netflix = netflix[['title', 'type', 'imdb_score', 'imdb_votes', 'tmdb_popularity', 'tmdb_score']]
    netflix = netflix[netflix['type'] == 'MOVIE']

    not_netflix_recs = user_scores[~user_scores['title'].isin(netflix['title'])]
    not_netflix_recs = not_netflix_recs.sort_values(by='sim_scores', ascending=False)[:20]
    return list(not_netflix_recs['title'])

In [45]:
def weighted_rating(x, m, C):
    v = x['imdb_votes']
    R = x['imdb_score']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [65]:
df_1 = pd.read_csv('../Netflix-Data/Sample-History2.csv')
df_1 = clean_watch_history(df_1)

df1 = netflix_merge(df_1)

df1_movies = get_movie_list(df1)

/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3536717928.py:14: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  df['Title'] = df['History'].str.rsplit(': ', 2).str[0]
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3536717928.py:15: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  df['Season'] = df['History'].str.rsplit(': ', 2).str[1]
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3536717928.py:16: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  df['Episode'] = df['History'].str.rsplit(': ', 2).str[2]
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3536717928.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tv['Season'] = tv['Season'].str.split().str[1]
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3536717928.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Title'] = movies['History']
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/3536717928.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Season'] = None

In [66]:
df1_top_movies = get_top_movies(df1_movies)

df1_netflix_recs = get_netflix_recs(df1_top_movies)

df1_not_netflix_recs = get_not_netflix_recs(df1_top_movies)

/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/2399372641.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['imdb_votes'] = qualified['imdb_votes'].astype('int')
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/2399372641.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['imdb_score'] = qualified['imdb_score'].astype('int')
/var/folders/nx/02f7zqm17f5_3khk_h9y42s00000gn/T/ipykernel_18919/2399372641.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified['wr'] = qualified.apply(weighted_rating, args=(m, C), axis=1)

In [67]:
df1_netflix_recs

['Marc Maron: Thinky Pain',
 'Zach Galifianakis: Live at the Purple Onion',
 'Bill Hicks: Revelations']

In [68]:
df1_not_netflix_recs

['Louis C.K.: Chewed Up',
 'Louis C.K.: Shameless',
 'Louis C.K.: Live at the Beacon Theater',
 'Louis C.K.: Oh My God',
 'Louis C.K.: Live at The Comedy Store',
 'Carrie Fisher: Wishful Drinking',
 'American: The Bill Hicks Story',
 'Ricky Gervais Live 4: Science',
 'Blue Collar Comedy Tour: The Movie',
 'Dylan Moran: Like, Totally...',
 'Dylan Moran: Monster',
 'Daniel Tosh: Completely Serious',
 'Film Socialisme',
 'Ricky Gervais Live: Animals',
 "George Carlin: It's Bad for Ya!",
 'Eddie Murphy: Delirious',
 'Ricky Gervais Live 3: Fame']